#menu{
	float: right;
}
header img {
	  max-width: 80%
     }      

#tickets{
	  background-image: url(midterm web/tickets.jpg);
	}    
#direction{
	  background-image: url(midterm web/direction.jpg);
	}     
#eat{
	  background-image: url(midterm web/eat.jpg);
	}     
#schedule{
	  background-image: url(midterm web/schedule.jpg);
	}     
#activities{
	  background-image: url(midterm web/activities.jpg);
	}     
#live{
	  background-image: url(midterm web/live.jpg	 );
	}     
footer{
	text-align: center;
}						

@media(min-width: 640px){
      #menu{
	  display:none; 
      }

}