 <style type="text/css">
         body {width:100%; font-family:times;
               padding:1em;
               max-width:1170px;}
         img{width:100%;}
         p {font-family: Georgia, serif;
             margin-right:1%;
             margin-left:1%;}
         h1, h2, footer {text-align: center; font-family: times;}
         h1 {font-size:40px}
         h2 {font-size:25px}
         h3 {color:#12194F;
             margin-left:0.5%;
             font-size:20px;}
         nav li {display:inline;
                  font-size:17px;}
         nav ul {text-align:center;
                  font-weight:500;}
         a {color:#1083B6;
             text-decoration:none;}
         a:hover {color:#ccc;
                text-decoration:underline;}
         a:active{color:#F3E91F;}
         h1 a {color:#001F4D; 
         	   text-decoration:none;}
         nav li{display:inline-block;
                 margin:1px 20px; 
                 border-right: solid 1px black; 
                 padding-right: 40px;}
         nav {border-top:solid 1px #000;
              border-bottom:solid 1px #000;}
         nav li:last-child{border:none;
                           margin-right:0;
                           padding-right:0;}    
         p a {text-decoration: underline;}
         #content {margin:1em 0;
                   padding-left:1em;
                   padding-right: 1em;}
         header { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+4,2989d8+31,2989d8+55,7db9e8+86,7db9e8+99 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 4%, rgba(41,137,216,1) 31%, rgba(41,137,216,1) 55%, rgba(125,185,232,1) 86%, rgba(125,185,232,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 4%,rgba(41,137,216,1) 31%,rgba(41,137,216,1) 55%,rgba(125,185,232,1) 86%,rgba(125,185,232,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,1) 4%,rgba(41,137,216,1) 31%,rgba(41,137,216,1) 55%,rgba(125,185,232,1) 86%,rgba(125,185,232,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
                padding:0.1em;}  
               
                              
</style>